<!DOCTYPE html>
<html>
{{#> layout/header}}
    {{#partial "title"}}
        <title>Spring boot Main</title>
    {{/partial}}
    {{#partial "stylesheet"}}
        <link rel="stylesheet" href="/css/app/sign.css">
    {{/partial}}
{{/layout/header}}
<body>
{{> layout/layout}}
{{name}}
<div class="container">
    <div class="form-signin">
        <h4 class="mb-3">My Spring 회원 가입</h4>
        <hr class="my-4">
        <form class="needs-validation" novalidate method="post" action="/signup">
            <div class="row g-3">
                <div class="col-12">
                    <label for="name" class="form-label">아이디</label>
                    <input type="text" class="form-control {{#if (isNotNull fields.name)}}is-invalid{{/if}}"
                           name="name" id="name" placeholder="Member ID"
                           value="{{memberDTO.name}}"
                           required="required">
                    <div class="invalid-feedback">
                        {{fields.name}}
                    </div>
                </div>

                <div class="col-12">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" class="form-control {{#if (isNotNull fields.password)}}is-invalid{{/if}}"
                           name="password" id="password" placeholder="Member Password"
                           value="{{memberDTO.password}}"
                           required="required">
                    <div class="invalid-feedback">
                        {{fields.password}}
                    </div>
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">이메일</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">@</span>
                        <input type="email" class="form-control {{#if (isNotNull fields.email)}}is-invalid{{/if}}"
                               name="email" id="email" placeholder="member@example.com"
                               value="{{memberDTO.email}}"
                               required="required">
                        <div class="invalid-feedback">
                            {{fields.email}}
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="phone_number" class="form-label">핸드폰 번호<br /><span class="text-muted">('-'까지 포함하여 입력하십시오.)</span></label>
                    <input type="text" class="form-control {{#if (isNotNull fields.phone_number)}}is-invalid{{/if}}"
                           name="phone_number" id="phone_number"
                           placeholder="01X-XXXX-XXXX or 01X-XXX-XXXX"
                           value="{{memberDTO.phone_number}}"
                           required="required">
                    <div class="invalid-feedback">
                        {{fields.phone_number}}
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">회원가입</button>
        </form>
    </div>
</div>

{{> layout/footer}}
<script src="/js/app/main.js"></script>
</body>
</html>