<!DOCTYPE html>
<html>
{{#> layout/header}}
    {{#partial "title"}}
        <title>Spring boot Main</title>
    {{/partial}}
{{/layout/header}}
<body>
{{> layout/layout}}
<div>
    <h1>Spring boot web!</h1>

    <div class="col-md-12">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#savePostsModal">글 등록</button>
    </div>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>멤버 번호</th>
            <th>멤버 이름</th>
            <th>글 번호</th>
            <th>제목</th>
            <th>내용</th>
        </tr>
        </thead>
        <tbody id="tbody">
            {{#each members}}
                <tr>
                    <td><a href="/posts/{{member_id}}">{{member_id}}</a></td>
                    <td>{{member_name}}</td>
                    <td>{{post_id}}</td>
                    <td>{{title}}</td>
                    <td>{{content}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="modal fade" id="savePostsModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="savePostsLabel">게시글 등록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title">제목</label>
                            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="name"> 작성자 </label>
                            <input type="text" class="form-control" id="member_name" placeholder="작성자를 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="content"> 내용 </label>
                            <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/footer}}
<script src="/js/app/main.js"></script>
</body>
</html>